<!-- 
 <div class="container-fluid">
          <div class="row">
            <div *ngFor="let country of countries" class="col-sm d-flex">
              <div class="card card-body flex-fill">
               Code: {{country.code}}<br>
               Name: {{country.name}}<br>
               Phone: {{country.phone}}<br>
               capital: {{country.capital}}<br>
               currency: {{country.currency}}<br>
               <div *ngFor="let language of country.languages;let i = index">
                language {{i}}: {{language.name}}<br>
               </div>
              </div>
            </div>
            
          </div>
 </div> -->

          <div class="example-button-container">
              <div class="container" style="align-items: stretch;">
              <div class="row">
            <button mat-fab color="warn" style="outline: none;" (click)="navigateHome()" >
              <mat-icon>home</mat-icon>
            </button>
        </div>
          </div>
        </div>

        <div class="container">
                <div class="row" style="margin-left: 10%;">
      <div *ngFor="let country of countries" >

              <app-country [country]="country"></app-country>
            </div>
</div>
</div>
